body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 30px;
    background-color: #fdf6e3;
}

#pet {
    font-size: 64px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
}

#otto {
    font-size: 64px;
    cursor: pointer;
    user-select: none;
    transition: transform 1s;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
}